.git
.gitignore
**/Dockerfile
**/*.Dockerfile
.dockerignore
.idea
.idea_modules
.classpath
.project
.settings
venv
.venv
*.log
__pycache__
.coverage
.coveragerc
cover
*.iml
*.db
.pylintrc
*.egg-info
qa.py
tests
/Users
/home
