+ /home/$USER           **                  # include all files for the current user
- /home/$USER/.m2       repository/**       # exclude maven artifacts
- /home/$USER/.ivy2     {cache|local}/**    # exclude ivy artifacts

# exclude logs, temporary and cache files
- /home/$USER           **/*.{class|obj}
- /home/$USER           **/lost+found/*
- /home/$USER           **/*cache*/*
- /home/$USER           **/*log*/*
- /home/$USER           **/*.{tmp|temp|part|bak|~}
