STASIS_SERVER_AUTHENTICATORS_INSTANCE_CLIENT_ID=$${SERVER_INSTANCE_CLIENT_ID}
STASIS_SERVER_AUTHENTICATORS_INSTANCE_CLIENT_SECRET=$${SERVER_INSTANCE_CLIENT_SECRET}
STASIS_SERVER_AUTHENTICATORS_NODES_AUDIENCE=$${SERVER_NODE_CLIENT_ID}
STASIS_SERVER_CREDENTIALS_MANAGERS_IDENTITY_MANAGEMENT_USER=$${SERVER_MANAGEMENT_USER}
STASIS_SERVER_CREDENTIALS_MANAGERS_IDENTITY_MANAGEMENT_USER_PASSWORD=$${SERVER_MANAGEMENT_USER_PASSWORD}
STASIS_SERVER_PERSISTENCE_DATABASE_USER=$${SERVER_DB_USER}
STASIS_SERVER_PERSISTENCE_DATABASE_PASSWORD=$${SERVER_DB_PASSWORD}
STASIS_SERVER_BOOTSTRAP_DEVICES_PARAMETERS_SECRETS_DERIVATION_ENCRYPTION_SALT_PREFIX=$${ENCRYPTION_SALT_PREFIX}
STASIS_SERVER_BOOTSTRAP_DEVICES_PARAMETERS_SECRETS_DERIVATION_AUTHENTICATION_SALT_PREFIX=$${DERIVATION_SALT_PREFIX}
STASIS_SERVER_ROUTING_DEFAULT_ROUTER_ID=$${DEFAULT_ROUTER_ID}
