STASIS_SERVER_SERVICE_BOOTSTRAP_SCHEDULES_DAILY_ID=$${SCHEDULES_DAILY_ID}
STASIS_SERVER_SERVICE_BOOTSTRAP_SCHEDULES_HALF_DAILY_ID=$${SCHEDULES_HALF_DAILY_ID}
STASIS_SERVER_SERVICE_BOOTSTRAP_USERS_DEFAULT_ID=$${DEFAULT_USER_ID}
STASIS_SERVER_SERVICE_BOOTSTRAP_USERS_DEFAULT_SALT=$${DEFAULT_USER_SALT}
STASIS_SERVER_SERVICE_BOOTSTRAP_NODES_LOCAL_PRIMARY_ID=$${NODES_LOCAL_PRIMARY_ID}
STASIS_SERVER_SERVICE_BOOTSTRAP_NODES_LOCAL_PRIMARY_PARENT_DIRECTORY=$${NODES_LOCAL_PRIMARY_PARENT_DIRECTORY}
STASIS_SERVER_SERVICE_BOOTSTRAP_NODES_LOCAL_SECONDARY_ID=$${NODES_LOCAL_SECONDARY_ID}
STASIS_SERVER_SERVICE_BOOTSTRAP_NODES_LOCAL_SECONDARY_PARENT_DIRECTORY=$${NODES_LOCAL_SECONDARY_PARENT_DIRECTORY}
