STASIS_IDENTITY_BOOTSTRAP_CLIENTS_IDENTITY_UI_CLIENT_ID=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_IDENTITY_UI_CLIENT_SECRET=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_UI_CLIENT_ID=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_UI_CLIENT_SECRET=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_INSTANCE_CLIENT_ID=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_INSTANCE_CLIENT_SECRET=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_NODE_CLIENT_ID=
STASIS_IDENTITY_BOOTSTRAP_CLIENTS_SERVER_NODE_CLIENT_SECRET=
STASIS_IDENTITY_BOOTSTRAP_OWNERS_DEFAULT_USER=
STASIS_IDENTITY_BOOTSTRAP_OWNERS_DEFAULT_USER_PASSWORD=
STASIS_IDENTITY_BOOTSTRAP_OWNERS_DEFAULT_USER_ID=
STASIS_IDENTITY_BOOTSTRAP_OWNERS_SERVER_MANAGEMENT_USER=
STASIS_IDENTITY_BOOTSTRAP_OWNERS_SERVER_MANAGEMENT_USER_PASSWORD=
