<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SYNC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/client.log</file>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>client-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] [%-5level] [%logger{32}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="SYNC_FILE" />
    </appender>

    <appender name="SYNC_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%-5level] [%logger{32}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="SYNC_CONSOLE" />
    </appender>

    <variable name="CLIENT_LOGLEVEL" value="${CLIENT_LOGLEVEL:-INFO}" />
    <variable name="CLIENT_LOG_TARGET" value="${CLIENT_LOG_TARGET:-FILE}" />

    <root level="${CLIENT_LOGLEVEL}">
        <appender-ref ref="${CLIENT_LOG_TARGET}"/>
    </root>
</configuration>
