name: Stasis Build

on: [push, pull_request]

jobs:
  assets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Verify Assets
        run: |
          ./assets/refresh_assets.py --verify

  scala:
    needs:
      - assets

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt
          cache: sbt

      - name: Setup SBT
        uses: sbt/setup-sbt@v1

      - name: Run QA
        run: |
          mkdir ${{ github.workspace }}/target
          sbt qa

      - name: Push Coverage Result
        uses: codecov/codecov-action@v4
        with:
          flags: scala
          token: ${{ secrets.CODECOV_TOKEN }}

  python:
    needs:
      - assets

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Run QA
        run: |
          cd client-cli
          pip install -e .
          pip install coverage pylint
          ./qa.py
          python -m coverage xml

      - name: Push Coverage Result
        uses: codecov/codecov-action@v4
        with:
          flags: python
          token: ${{ secrets.CODECOV_TOKEN }}

  flutter-linux:
    needs:
      - assets

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Run identity-ui QA
        run: |
          sudo apt update -y
          sudo apt install -y lcov
          cd identity-ui
          ./qa.py
      - name: Run server-ui QA
        run: |
          sudo apt update -y
          sudo apt install -y lcov
          cd server-ui
          ./qa.py
      - name: Run client-ui QA
        run: |
          sudo apt update -y
          sudo apt install -y lcov ninja-build libgtk-3-dev
          cd client-ui
          ./qa.py

  flutter-macos:
    needs:
      - assets

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64
      - name: Run client-ui QA
        run: |
          cd client-ui
          brew install lcov
          ./qa.py

  android:
    needs:
      - assets

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt

      - name: Run QA
        run: |
          cd client-android
          ./gradlew qa
